<div class="container">
  <div class="row">
    <div class="col md-12">
      <button class="btn-primary btn" (click)="fillForm()">דוגמא</button>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1">
      <form [formGroup]="newTicketForm" (ngSubmit)="onSubmit()">
        <div formGroupName="ticketData">
          <fieldset>
            <div class="form-group">
              <div class="col-md-12">
                <label for="problemsNature">מהות התקלה</label>
                <textarea
                  type="text"
                  id="problemsNature"
                  formControlName="problemsNature"
                  class="form-control">
                </textarea>
              </div>
              <div class="col-md-12">
                <label for="missingEquipments">ציוד שחסר</label>
                <input
                  type="text"
                  id="missingEquipments"
                  formControlName="missingEquipments"
                  class="form-control">
              </div>
              <!--<div class="col-md-6">-->
                <!--<label for="teacherName">שם המורה</label>-->
                <!--<input-->
                  <!--type="text"-->
                  <!--id="teacherName"-->
                  <!--required-->
                  <!--formControlName="teacherName"-->
                  <!--class="form-control">-->
              <!--</div>-->
              <div class="col-md-6">
                <label for="serialNumber">מספר סידורי (מחשב)</label>
                <input
                  type="text"
                  id="serialNumber"
                  formControlName="serialNumber"
                  class="form-control">
              </div>
              <div class="col-md-6">
                <label for="damagedDevice">המכשיר התקול</label>
                <input
                  type="text"
                  id="damagedDevice"
                  formControlName="damagedDevice"
                  class="form-control">
              </div>
              <div class="col-md-6">
                <label for="structure">מבנה</label>
                <input
                  type="text"
                  id="structure"
                  formControlName="structure"
                  class="form-control">
              </div>
              <div class="col-md-6">
                <label for="deviceLocation">כיתה/מיקום המכשיר</label>
                <input
                  type="text"
                  id="deviceLocation"
                  formControlName="deviceLocation"
                  class="form-control">
              </div>
              <!--<div class="col-md-6">-->
                <!--<label for="teachersContactPhone">טלפון מורה מדווח/ת</label>-->
                <!--<input-->
                  <!--type="text"-->
                  <!--id="teachersContactPhone"-->
                  <!--formControlName="teachersContactPhone"-->
                  <!--class="form-control">-->
              <!--</div>-->
            </div>
          </fieldset>
          </div>
        <br>
        <div class="form-group">
          <div class="col-md-12">
            <span
              *ngIf="!newTicketForm.valid && newTicketForm.touched"
              class="help-block">Please enter a valid data!</span>
            <button
              class="btn btn-primary btn-lg btn-block info"
              type="submit"
              [disabled]="!newTicketForm.valid">שלח</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
