
<div *ngIf="!editMode;then editTemplate else viewTemplate"></div>

<ng-template #editTemplate>

<h2>דף ארגון</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1">
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>שם</td>
                  <td>{{name }}</td>
                </tr>
                <tr>
                  <td>כתובת</td>
                  <td>{{address }}</td>
                </tr>
                <tr>
                  <td>עיר</td>
                  <td>{{city }}</td>
                </tr>

                <tr>
                <tr>
                  <td>מספר טלפון</td>
                  <td>{{phone }}</td>
                </tr>
                <tr>
                  <td>סטאטוס</td>
                  <td>{{status }}</td>
                </tr>
                <tr>
                  <td>סוג ארגון</td>
                  <td>{{type }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <span class="pull-right">
          <button type="button" class="btn btn-success" (click)="edit()">עדכן</button>
          <button type="button" class="btn btn-default" (click)="back()">אחורה</button>
        </span>
    </div>
  </div>
</ng-template>

<ng-template #viewTemplate>

<h2>דף ארגון</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1">
        <div class="panel-body">
          <div class="row">
            <form [formGroup]="editOrganisationForm" (ngSubmit)="onSubmit()">
              <div formGroupName="orgData">
                <fieldset>
                  <div class="form-group">

                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody>
                        <tr>
                          <td>שם</td>
                          <td>
                            <input
                              type="text"
                              id="name"
                              formControlName="name"
                              class="form-control">
                          </td>
                        </tr>
                        <tr>
                          <td>כתובת</td>
                          <td><input
                            type="text"
                            id="address"
                            formControlName="address"
                            class="form-control"></td>
                        </tr>
                        <tr>
                          <td>עיר</td>
                          <td><input
                            type="text"
                            id="city"
                            formControlName="city"
                            class="form-control"></td>
                        </tr>
                        <tr>
                        <tr>
                          <td>מספר טלפון</td>
                          <td><input
                            type="text"
                            id="phone"
                            formControlName="phone"
                            class="form-control"></td>
                        </tr>
                        <tr>
                          <td>סטאטוס</td>
                          <td><input
                            type="text"
                            id="status"
                            formControlName="status"
                            class="form-control"></td>
                        </tr>
                        <tr>
                          <td>סוג ארגון</td>
                          <td>
                            <select class="form-control" id="type" formControlName="type">
                              <label>Status</label>
                              <option  [value]="type" *ngFor="let type of types">{{type}}</option>
                            </select>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
        <span class="pull-right">
          <button type="button" class="btn btn-success" (click)="onSubmit()">שלח</button>
          <button type="button" class="btn btn-default" (click)="back()">אחורה</button>
        </span>
    </div>
  </div>
</ng-template>
