
<div *ngIf="!editMode;then editTemplate else viewTemplate"></div>

<ng-template #editTemplate>

<h2>דף משתמש אישי</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <img alt="User Pic" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>שם</td>
                  <td>{{fullName }}</td>
                </tr>
                <tr>
                  <td>דוא״ל</td>
                  <td><a href="mailto:info@support.com">{{email }}</a></td>
                </tr>
                <tr>
                  <td>מספר טלפון</td>
                  <td><a href="tel:{{phoneNumber}}"></a>{{phoneNumber }}</td>
                </tr>

                <tr>
                <tr>
                  <td>סטטוס</td>
                  <td>{{status }}</td>
                </tr>
                <tr>
                  <td>ארגון</td>
                  <td>{{orgId }}</td>
                </tr>
                <tr>
                  <td>תפקיד</td>
                  <td><a href="mailto:info@support.com">{{userRole }}</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <span class="pull-right">
          <button type="button" class="btn btn-success" (click)="edit()">עדכן</button>
          <button type="button" class="btn btn-default" (click)="back()">אחורה</button>
        </span>
    </div>
  </div>
</ng-template>

<ng-template #viewTemplate>

<h2>דף משתמש אישי</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1">
        <div class="panel-body">
          <div class="row">
            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
              <div formGroupName="userData">
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-3 col-lg-3 " align="center">
                      <img alt="User Pic" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle img-responsive">
                    </div>
                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody>
                        <tr>
                          <td>שם</td>
                          <td>
                            <input
                              type="text"
                              id="fullName"
                              formControlName="fullName"
                              class="form-control">
                          </td>
                        </tr>
                        <tr>
                          <td>דוא״ל</td>
                          <td><input
                            type="text"
                            id="email"
                            formControlName="email"
                            class="form-control"></td>
                        </tr>
                        <tr>
                          <td>מספר טלפון</td>
                          <td><input
                            type="text"
                            id="phoneNumber"
                            formControlName="phoneNumber"
                            class="form-control"></td>
                        </tr>
                        <tr>
                        <tr>
                          <td>סטטוס</td>
                          <td>
                            <select class="form-control" id="status" formControlName="status">
                              <label>Status</label>
                              <option  [value]="status" *ngFor="let status of statuses">{{status}}</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>ארגון</td>
                          <td>{{orgId}}</td>
                        </tr>
                        <tr>
                          <td>תפקיד</td>
                          <td *ngIf="userRole === 'super'">
                            <select class="form-control" id="userRole" formControlName="userRole">
                              <label>Status</label>
                              <option  [value]="role" *ngFor="let role of roles">{{role}}</option>
                            </select>
                          </td>
                          <td *ngIf="userRole !== 'super'">{{userRole}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
        <span class="pull-right">
          <button type="button" class="btn btn-success" (click)="onSubmit()">שלח</button>
          <button type="button" class="btn btn-default" (click)="back()">אחורה</button>
        </span>
    </div>
  </div>
</ng-template>
