table tr,
table th {
  text-align: right;
}

td {
  position: relative;
}

td>span {
  position: absolute;
  text-align: center;
  top: 35%;
  right: 0;
  left: 0;
  cursor: pointer;
}

.table-search input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.table-search .input-group-addon {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
