<div class="row">
  <div class="col md-12">
    <button class="btn-primary btn" (click)="onNewTicket()">כרטיס חדש</button>
  </div>
</div>
<br>
<div class="row">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">תאריך</th>
      <th scope="col">שם המורה</th>
      <th scope="col">מכשיר תקול</th>
      <th scope="col">מספר סידורי (מחשב)</th>
      <th scope="col">מבנה</th>
      <th scope="col">כיתה/מיקום המכשיר</th>
      <th scope="col">מהות התקלה</th>
      <th scope="col">ציוד שחסר</th>
      <th scope="col">טלפון מורה מדווח/ת</th>
      <th scope="col">סטטוס</th>
      <th scope="col">עריכה</th>
      <th scope="col">מחיקה</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets; let i = index">
        <td>{{ ticket.date | date:'shortTime' }}</td>
        <td>{{ ticket.teacherName }}</td>
        <td>{{ ticket.damagedDevice }}</td>
        <td>{{ ticket.serialNumber }}</td>
        <td>{{ ticket.structure }}</td>
        <td>{{ ticket.deviceLocation }}</td>
        <td>{{ ticket.problemsNature }}</td>
        <td>{{ ticket.missingEquipments }}</td>
        <td>{{ ticket.teachersContactPhone }}</td>
        <td *ngIf="!ticket.editMode">{{ ticket.status }}</td>
        <td *ngIf="ticket.editMode">
          <!--<input-->
            <!--type="text"-->
            <!--id="status"-->
            <!--class="form-control"-->
            <!--#fv>-->
          <!--<input-->
             <!--type="text"-->
             <!--class="form-control"-->
             <!--name="edit-row"-->
             <!--[(ngModel)]="textValue">-->
            <select [(ngModel)]="textValue" class="form-control">
              <label>Status</label>
              <option  [value]="status" *ngFor="let status of statuses">{{status}}</option>
            </select>
        </td>
        <td *ngIf="!ticket.editMode"><span class="glyphicon glyphicon-edit" (click)="onEditRow(ticket, i)"></span></td>
        <td *ngIf="ticket.editMode"><button class="btn btn-success" (click)="onEditSaveRow(textValue, ticket)">שמור</button></td>
        <td><span class="glyphicon glyphicon-trash" (click)="onDeleteRow(i, ticket)"></span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <span> מספר קריאות שירות : {{ serviceCallCount }} </span>
</div>

<ng-template #pixklw>

</ng-template>
