<div class="row">
  <button class="btn btn-primary" (click)="fill()">Fill Form</button>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <br>
    <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="email">דואר אלקטרוני</label>
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="password">סיסמא</label>
          <input
            type="password"
            id="password"
            name="password"
            formControlName="password"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="confirmPassword">אשר סיסמא</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="fullName">שם מלא</label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            formControlName="fullName"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="phoneNumber">טלפון</label>
          <input
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            formControlName="phoneNumber"
            class="form-control">
        </div>
        <div *ngIf="currentUser.userRole === 'super'" class="form-group">
          <!--<select formControlName="status">-->
          <label for="orgId">ארגון</label>
          <select
            id="orgId"
            name="orgId"
            formControlName="orgId"
            class="form-control">
            <option [value]="organisation._id" *ngFor="let organisation of organisations">{{organisation.name}}</option>
          </select>
        </div>
        <div *ngIf="currentUser.userRole !== 'teacher' || currentUser.userRole !== 'student'" class="form-group">
          <label for="userRole">תפקיד</label>
          <select
            id="userRole"
            name="userRole"
            formControlName="userRole"
            class="form-control">
            <option [value]="role" *ngFor="let role of roles">{{role}}</option>
          </select>
        </div>
      </div>
      <div>
        <span
          *ngIf="!newUserForm.valid && newUserForm.touched"
          class="help-block">Please enter a valid data!</span>
        <button
          class="btn btn-primary btn-lg btn-block info"
          type="submit"
          [disabled]="!newUserForm.valid">הירשם</button>
      </div>
    </form>
  </div>
</div>

