<h2>ברוכים הבאים למערכת ניהול בתי ספר</h2>
<br>
<div class="row">
  <div *ngIf="user.userRole === 'super'" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">ארגונים במערכת</h3>
      </div>
      <div class="panel-body">
        <h1 style="text-align: center">{{organisationCount || -1}}</h1>
      </div>
    </div>
  </div>
  <div *ngIf="user.userRole === 'super' || user.userRole === 'admin'" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">משתמשים במערכת</h3>
      </div>
      <div class="panel-body">
        <h1 style="text-align: center">{{userCount || -1}}</h1>
      </div>
    </div>
  </div>
  <div *ngIf="user.userRole === 'super' || user.userRole === 'admin'" class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">כמות הכרטיסים</h3>
      </div>
      <div class="panel-body">
        <h1 style="text-align: center">{{ticketCount || -1}}</h1>
      </div>
    </div>
  </div>
  <hr>
  <div *ngIf="user.userRole === 'super'" class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">הסבר פעולות אפשריות</h3>
      </div>
      <div class="panel-body">
        <p>
          במסך זה תוכל כמנהל כללי לעשות את כל הפעולות על המערכת כגון:
        </p>
        <ul>
          <li>ליצור/למחוק/לעדכן ולהוסיף משתמשים</li>
          <li>ליצור/למחוק/לעדכן ולהוסיף ארגונים</li>
          <li>ליצור/למחוק/לעדכן ולהוסיף כרטיסים</li>
          <li>צפייה בלוג שימוש במערכת בכל הרמות</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>

