<h2>ברוכים הבאים למערכת ניהול בתי ספר</h2>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">ארגונים במערכת</h3>
      </div>
      <div class="panel-body">
        <h1 style="text-align: center">{{organisationCount || -1}}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">משתמשים במערכת</h3>
      </div>
      <div class="panel-body">
        <h1 style="text-align: center">{{userCount || -1}}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">כמות הכרטיסים</h3>
      </div>
      <div class="panel-body">
        <h1 style="text-align: center">{{ticketCount || -1}}</h1>
      </div>
    </div>
  </div>
</div>

