<div class="row">
  <div class="col md-12">
    <button class="btn-primary btn" (click)="onNewUser()">משתמש חדש</button>
  </div>
</div>
<br>
<div class="row">

  <form>
    <div class="form-group">
      <div class="input-group table-search">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" name="searchString" placeholder="חפש..." [(ngModel)]="searchString">
      </div>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">תאריך</th>
      <th scope="col">שם המורה</th>
      <th scope="col">טלפון</th>
      <th scope="col">תפקיד</th>
      <th scope="col">דוא"ל</th>
      <th scope="col">סטטוס</th>
      <th scope="col">פעולות</th>
    </tr>
    </thead>
    <tbody>
    <tr [@list1] *ngFor="let user of pagedItems | tableFilter :  { fullName: searchString, email: searchString, userRole: searchString } : false; let i = index">
      <td>{{ user.date | date:'shortTime' }}</td>
      <td>{{ user.fullName }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.userRole }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.status ? 'פעיל' : 'לא פעיל' }}</td>
      <!--<td *ngIf="!user.editMode">{{ user.status ? 'פעיל' : 'לא פעיל' }}</td>-->
      <!--<td *ngIf="user.editMode">-->
        <!--<input-->
          <!--type="text"-->
          <!--class="form-control"-->
          <!--name="edit-row"-->
          <!--[(ngModel)]="editStatus">-->
      <!--</td>-->
      <td>
        <button class="btn btn-default" (click)="onEditRow(user, i)">צפייה</button>
        <button class="btn btn-danger" (click)="onDeleteRow(i, user)">מחיקה</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row">
<span> מספר משתמשים : {{ usersCount }} </span>
</div>

<div class="row">
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">ראשון</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">הקודם</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">הבא</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">אחרון</a>
    </li>
  </ul>
</div>

<ng-template #pixklw>

</ng-template>
