<div class="row">
  <div class="col md-12 page-actions">
    <button class="btn-primary btn" (click)="onNewTicket()">כרטיס חדש</button>
    <button class="btn-primary btn" (click)="exportToCsv()">יצוא לדוח</button>
  </div>
</div>
<br>
<div class="row">

  <form>
    <div class="form-group">
      <div class="input-group table-search">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" name="searchString" placeholder="חפש..." [(ngModel)]="searchString">
      </div>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">תאריך</th>
      <th scope="col">שם המורה</th>
      <th scope="col">מכשיר תקול</th>
      <th scope="col">כיתה/מיקום המכשיר</th>
      <th scope="col">מהות התקלה</th>
      <th scope="col">סטטוס</th>
      <th scope="col">פעולות</th>
    </tr>
    </thead>
    <tbody>
      <tr [@list1]
        *ngFor="let ticket of (ticketsState|async).tickets | tableFilter :  { teacherName: searchString, structure: searchString, problemsNature: searchString } : false;let i = index">
        <td>{{ ticket.date | date:'shortTime' }}</td>
        <td>{{ ticket.teacherName }}</td>
        <td>{{ ticket.damagedDevice }}</td>
        <td>{{ ticket.deviceLocation }}</td>
        <td>{{ ticket.problemsNature }}</td>
        <td>{{ticket.status}}</td>
        <!--<td *ngIf="user.userRole !== 'admin'">{{ticket.status}}</td>-->
        <!--<td *ngIf="user.userRole === 'admin'">-->
          <!--<select class="form-control" id="type" [(ngModel)]="inlineStatusEdit">-->
            <!--<label>Status</label>-->
            <!--<option [value]="status" *ngFor="let status of statuses">{{status}}</option>-->
          <!--</select>-->
        <!--</td>-->
        <td>
          <button class="btn btn-default" (click)="onEditItem(ticket, i)">צפייה</button>
          <button class="btn btn-danger" (click)="onDeleteRow(i, ticket)">מחיקה</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <span> מספר קריאות שירות : {{ serviceCallCount }} </span>
</div>
<div class="row">
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">ראשון</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">הקודם</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">הבא</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">אחרון</a>
    </li>
  </ul>
</div>

<!--<ng-template #readOnlyStatus>{{ticket.status}}</ng-template>-->

